.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderimg{
    height: 70vh;
}

.carousel {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.alice-carousel {

}