.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    align-items: center;
}

.nav__links {
    display: flex;
    margin-top: 12px;
    margin-right: 36px;
}

.nav__brand > img{
    height: 60px;
    margin-left: 36px;
    margin-top: 16px;
    cursor: pointer;
}

.nav__links > a {
    text-decoration: none;
    height: fit-content;
}

.nav__link {
    text-decoration: none;
    color: gray;
    margin-right: 16px;
    font-weight: 400;
}

.nav__link:hover{
    color: black;
}

.nav__button{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ff6c6c;
    font-weight: 500;
    font-size: 16px;
    height: 36px;
    cursor: pointer;
    color: #fff;
    padding: 8px;
}

.nav__button:hover{
    background-color: #eb4c3d;
}